<footer class="navbar navbar-default navbar-fixed-bottom" style=" background-color:#006FBE; color:#fff; font-size: small; ">
  <div class="row">
    <div class="col-md-3 col-sm-6 hidden-xs hidden-sm hidden-md" style="padding-top: 8px;">
      <span style="padding-right:20px;">
          <i class="fa fa-envelope-o"></i>
      </span>  Email
      <div>
        <span style="padding-right:20px;">
          <i class="fa fa-user"></i>
        </span>
        support@hcdonline.com
      </div>
    </div>
    <div class="col-md-7 col-sm-4" style="padding-top: 17px; padding-left:20px;  text-align: center; ">
      &copy; 2017 Copyright Hydro Electronic Devices, Inc. All Rights Reserved.
    </div>
    <div class="col-md-2 col-sm-6 hidden-xs hidden-sm hidden-md" style="padding-top: 8px; float: right;">
      <span style="padding-right:20px;">
        <i class="fa fa-wechat"></i>
      </span>
      Feedback
      <div>
        <span style="padding-right:20px;">
          <i class="fa fa-phone"></i>
        </span>
         (xxx)xxx-xxxx
      </div>
    </div>
  </div>
</footer>