<!-- <div id="wrapper" class="toggled">
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <div class="panelbar-wrapper" style="padding-top:65px;"> -->
<kendo-panelbar>
  <kendo-panelbar-item [title]="'Dashboard'" iconClass="fa fa-dashboard"></kendo-panelbar-item>
  <kendo-panelbar-item [title]="'Maps'" iconClass="fa fa-map-o">
    <kendo-panelbar-item [title]="'Geo Fence View'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'Assest Geo Fence View'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'Geo Fence Admin'"></kendo-panelbar-item>

  </kendo-panelbar-item>
  <kendo-panelbar-item [title]="'Alerts & Maintenance'" iconClass="fa fa-bell-o">
    <kendo-panelbar-item [title]="'Alerts View'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'Alerts Asset View'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'Alerts Admin'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'Maintenance View'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'Maintenance Asset View'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'Maintenance Admin'"></kendo-panelbar-item>
  </kendo-panelbar-item>
  <kendo-panelbar-item [title]="'Asset'" iconClass="fa fa-truck">
    <kendo-panelbar-item [title]="'Asset'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'Asset Admin'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'Compare'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'OTAP'"></kendo-panelbar-item>
  </kendo-panelbar-item>
  <kendo-panelbar-item [title]="'Fleet'" iconClass="fa fa-truck">
    <kendo-panelbar-item [title]="'Fleet'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'Fleet Admin'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'Compare'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'OTAP'"></kendo-panelbar-item>
  </kendo-panelbar-item>
  <kendo-panelbar-item [title]="'Reports'" iconClass="fa fa-file-pdf-o"></kendo-panelbar-item>
  <kendo-panelbar-item [title]="'Settings & Administration'" iconClass="fa fa-gears">
    <kendo-panelbar-item [title]="'My Profile'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'My Inbox'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'Inbox Settings'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'Manager Organizations'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'User Admin'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'User Roles Admin'"></kendo-panelbar-item>
  </kendo-panelbar-item>
  <kendo-panelbar-item [title]="'Help'" iconClass="fa fa-rss">
    <kendo-panelbar-item [title]="'Support'"></kendo-panelbar-item>
    <kendo-panelbar-item [title]="'FAQs'"></kendo-panelbar-item>
  </kendo-panelbar-item>
</kendo-panelbar>
<!-- </div>
  </nav>
</div> -->