:host { display: block; }
.toggle { color: white; margin-right: 10px; display: inline-block; }
md-card  {
  position: absolute;
  top: 54px;
  right: 5px;
  z-index: 1000;
  width: 335px;
  padding: 16px;
  font-size: 14px;
  md-card-actions {
    border-top: 1px solid #BDBDBD;
    background-color: #F5F5F5;
    padding: 10px 20px;
    text-align: right;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  text-align: center;
  flex-basis: 100px;
  padding: 10px 5px;
  img { width: 55px; padding-bottom: 5px; display: block; margin: 0 auto; }
}

.glyphicon-th {
  font-size: 22px;
}

.hide-text{
  display:none;
}

md-card-actions {
  a {
    position: relative;
    padding-left: 30px;
    span {
      position: absolute;
      left: 0;
      top: -5px;
      font-size: 24px;
    }
  }
}
