<div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <div class="panelbar-wrapper" style="padding-top:65px;">
                <canect-sidebar></canect-sidebar>
            </div>
        </nav>
    
        <!-- Page Content -->
        <div id="page-content-wrapper1">
           <canect-header></canect-header>
            <div style="padding-top: 60px;">
                <div class="row">
                    <div style="margin-top: 10px;">
                        <canect-content></canect-content>
                        <canect-footer></canect-footer>
                    </div>
                </div>
            </div>
        </div>  
        <!-- /#page-content-wrapper -->
    </div>